.main {
  margin: 0 auto 20px;
  padding: 20px;
  max-width: 1200px;
}

.title {
  margin-bottom: 30px;
}

.field {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.label {
  font-size: 18px;
  line-height: 24px;
}

.select {
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightcyan;
  padding: 0 10px;
  width: 80px;
  height: 30px;
  font-size: 18px;
  line-height: 24px;
}
